* {
  margin: 0;
  padding: 0;
}

.strip {
  position:relative;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 1140px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid black;
}

.red {
  flex-direction: column;
  background-color: #bb133e;
  height: auto;
  width: 100%;
}

.white {
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 100%;
}

.blue-box {
  display: flex;
  position:absolute; 
  left:20px; 
  top:20px;
  margin: 0 auto;
  height: calc(561px * 7/13);
  width: 500px;
  background-color: #002147;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.star-6, .star-5 {
  width: 100%;
  color: white;
  font-size: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  line-height: 0;
}

.star-6 {
  justify-content: space-between;
}

.star-5 {
  letter-spacing: 28px;
  margin-left: 13px;
}